body {
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column; 
	background-color: black;
	font-size: 1rem;

	}
	
img {
	border: none;
	display: flex;
	justify-content: center;
	max-width: 20rem;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 6;
  overflow: hidden;
  background-color: floralwhite;
  position: fixed ;
  top: 15;
  width: 56.4%;
  font-color: black;
}

li {
  float: left;
  border-right: 4px solid #bbb
}

a {
  display: block;
  padding: 8px;
  background-color: floralwhite;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rosybrown;
}

	.title {
		font-family:'Cinzel', serif;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: burlywood ;
	    border-style: solid;
	    border-color: rosybrown;
	    border-width: 20px; 
	    border-radius: 1em;
		border-top: thick;
		padding: 3em;
		max-width: 700px;
		outline-color: black;
		outline-style: solid;
		outline-width: thick;
		font-size: 1rem;


	}

	.movies {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}
	.lady-bird {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    padding-top: 50px;
  		padding-right: 50px;
  		padding-bottom: 50px;
  		padding-left: 50px;
  		font-size: 1rem;


	}

	.call-me-by-your-name {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.little-women {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.hot-summer-nights {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.dune {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.beautiful-boy {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.bones-and-all {
		font-family: 'Tilt Warp', cursive;
		display: flex;
		justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.restaurants {
			font-family:'Cinzel', serif;;
			display: flex;
			justify-content: center; 
	    align-items: center;
	    flex-direction: column; 
	    background-color: floralwhite;
	    font-size: 1rem;
	}

	.footer {
		background: rosybrown;
		color: black;
		padding: 50px 5%;


	}

	/*Media sections*/
.location-holder, .media-holder {
  width: 100%;
  margin: 0rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-sizing: border-box;
}

.image-holder, .text-holder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


	/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
	
@media (min-width: 555px) {
	h2 {
		font-size: 2rem;
	}
}

@media (min-width: 800px) {
	h2 {
		font-size: 3rem;
	}
}
